@model IReadOnlyCollection<Customer>
@{ 
    ViewData["Title"] = "Index";
}

<head>Customers</head>
<p></p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>            
            <th class="text-center">First Name</th>
            <th class="text-center">Last NAme</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Customer customer in Model)
        {
            <tr>
                <td class="text-center">@customer.FirstName</td>
                <td class="text-center">@customer.LastName</td>                
            </tr>
        }
    </tbody>    
</table>